<div class="container">
  <form [formGroup]="garageForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input formControlName="garageID" matInput placeholder="Garage ID" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="businessName" matInput placeholder="Business Name" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="contactFirstName" matInput placeholder="First Name" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="contactLastName" matInput placeholder="Last Name" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="address1" matInput placeholder="Address" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="address2" matInput placeholder="Address" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="address3" matInput placeholder="Address" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="city" matInput placeholder="City" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="state" matInput placeholder="State" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="zip" matInput placeholder="ZIP" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="phone" matInput placeholder="Phone" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="phone2" matInput placeholder="Alternate Phone" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="contactEmail" matInput placeholder="Contact Email" value="" />
    </mat-form-field>
  </form>
</div>
