<div class="container">
  <form [formGroup]="chassisForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input formControlName="make" matInput placeholder="MAKE" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="model" matInput placeholder="MODEL" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="cab" matInput placeholder="CAB" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="sleeper" matInput placeholder="SLEEPER" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="vin" matInput placeholder="VIN" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="vinLastSix" matInput placeholder="VIN_Last_6" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="engineHours" matInput placeholder="ENGINE HOURS" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="mileage" matInput placeholder="MILEAGE" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="description" matInput placeholder="Description" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="category" matInput placeholder="CATEGORY" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="subCategory1" matInput placeholder="FUTURE1" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="subCategory2" matInput placeholder="FUTURE2" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="displayOnWeb" matInput placeholder="DISPLAY ON WEB" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="inServiceDate" matInput placeholder="INSERVICE DATE" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="warranty" matInput placeholder="Waranty" value="" />
    </mat-form-field>
  </form>
</div>
